@{
    ViewBag.Title = "Home Page";
}   

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <div id="carouselsite" class="carousel" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/1.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/2.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/3.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/4.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/5.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/6.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/7.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/8.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/9.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/10.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/11.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/12.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/13.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/14.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/15.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/16.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/17.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/18.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/119.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/20.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/21.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/22.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img class="img-responsive" src="~/Content/Imagem/23.jpg" alt="imagem" style="height:100%;" />
                        <div class="carousel-caption">
                        </div>
                    </div>                  

                </div>

            </div>

        </div>
    </div>
</div>

@section scripts{


    <script type="text/javascript">

        $(document).ready(function () {

	$('.carousel-item:eq(0)').addClass("ativo").show();

	var texto = $(".ativo").attr("alt");
	$('.carousel-item').prepend("<p>" + texto + "</p>");

	setInterval(slide, 15000);

	function slide(){
	    if ($('.ativo').next().size()) {
	        $('.ativo').fadeOut().removeClass("ativo").next().addClass("ativo");
	        $('.ativo').delay(5500).fadeIn();
		}else
		{
		    $('.ativo').fadeOut().removeClass("ativo");
		    $('.carousel-item:eq(0)').delay(5500).fadeIn().addClass("ativo");
		}

		var texto = $(".ativo img").attr("alt");

		$('.carousel-item p').hide().html(texto).delay(1500).fadeIn();

	}



});

    </script>

}

